@import 'common';

.iminister-chart {
  width: 100%;
  height: 400px;
  font-size: 11px;
}
.form-control.ng-invalid {
  border-color: $danger;
}

.form-control.ng-valid {
  border-color: $success;
}

// injector
// endinjector