<div ba-panel>
    <div class="feed-messages-container" track-width="smallContainerWidth" min-width="360">
        <div class="feed-message" ng-repeat="message in notifictions" ng-click="open('app/pages/mainPage/smallModal.html', 'sm')">
            <div class="message-icon">
                <img class="photo-icon" ng-src="{{::( message.type | profilePicture )}}">
            </div>
            <div class="text-block text-message">
                <div class="message-header">
                    <span class="author">{{ ::message.title }}</span>
                </div>
                <div class="message-content line-clamp" >
                    <span>{{message.description}} </span>
                </div>
                <div class="message-time">
                    <div class="ago-time">
                        {{::message.datetime | date : 'MMM d HH:mm'}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



